.stack {
    display: grid;
    gap: 20px;
    height: 100%;
}
.card {
    flex: 1;
    max-height: 100%;
    display: grid;
    gap: 10px;
    background: #fff;
    padding: 8px 12px;
    border-radius: 12px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
}
.basicFieldTitle {
    font-size: 16px;
    font-weight: 400;
}
.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.leftInner {
    display: grid;
    gap: 8px;
}
.rightInner {
    display: grid;
    /* justify-content: space-between; */
    gap: 8px;
}
.statusField {
    width: 200px;
    padding: 4px 8px;
}
.inputFields {
    display: grid;
    gap: 10px;
    grid-template-columns: 0.1fr 1fr;
}
.labelTitle {
  width: 200px;
  background: #e5e5e5;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
.buttonField {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.equipmentArea {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* min-height: 400px; */
}
.equipmentList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 12px 18px;
    /* min-height: 200px; */
    max-height: 200px;
    overflow-x: auto;
}
.equipment {
    padding: 6px 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: white;
    cursor: pointer;
}
.equipmentActive {
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;

  color: white;
  background: #3d75ef;
  border: 1px solid #2563eb;
}
.imageFieldInner {
    display: grid;
    gap: 12px;
}
.imageFieldInnerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.imageTitle {
    font-size: 16px;
    /* font-weight: 600; */
}
.imageSubTitle {
    font-size: 14px;
    color:  #828080;
}
.imageTitleField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid #e5e5e5;
}
.uploadArea {
    border: 2px dashed #8b5cf6;
    border-radius: 12px;
    background: #f0eeeeb8;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}
.uploadArea:hover {
    filter: brightness(0.9);
}
.uploadLabel {
    font-family: 18px;
    font-weight: 600;
    background: #8b5cf6;
    color: #fff;
    padding: 4px 16px;
    border-radius: 12px;
}
.inputText {
  font-size: 14px;
  color: #828080
}
.hiddenInput {
    display: none;
}

.commonButton {
    padding: 4px 12px;
    border-radius: 12px;
}
.button {
  width: 100px;
  border: none;
  background: rgb(93, 93, 197);
  color: #fff;
  padding: 4px 8px;
  border-radius: 12px;
}
.countButton {
    border: none;
    background: rgb(76, 97, 236);
    border: 1px solid rgb(70, 80, 137);
    color: #fff;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 18px;
}
.countButton:hover,
.commonButton:hover {
    filter: brightness(0.9);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 2px solid #e5e5e5;
}
.imagesCount {
    background: #8b5cf6;
    color: #fff;
    padding: 8px;
    border-radius: 999px;
}
.imageList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    margin-top: 12px;
    max-height: 500px;
    overflow: auto;
}
.previewImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}