.card {
  display: flex;
  align-items: center;
  gap: 60px;
  background: #fff;
  padding: 8px;
}
.card:hover {
  transform: translateY(-2px);
  background: #e5e4e4;
  box-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.image {
  width: 180px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.basic {
  display: grid;
  gap: 4px;
}

.vacabtButton {
  border: none;
  padding: 4px 12px;
  border-radius: 10px;
}